/*------------------------------------*\
$BOX
\*------------------------------------*/
.box--flex {
    display: flex;
    flex-flow: row wrap;
}
.box--half {
    @include respond-to(tablet) {
        width: 50%;
        padding-right: 100px;
    }
}
.box__mid {
    width: 100%;
    @include respond-to(tablet) {
        width: 50%;
        padding-right: 24px;
    }
}