/*------------------------------------*\
$GRID
\*------------------------------------*/
.container {

}
.item__sizer {
    width: 100%;
    @include respond-to(tablet) {
        width: 25%;
    }
}
.grid__item {
    width: 100%;
    margin-bottom: 30px;
    @include respond-to(tablet) {
        padding: 0 12px;
    }
}
.item--half {
    @include respond-to(tablet) {
        width: 75%;
    }
    .grid__item__title {
        @include respond-to(tablet) {
            @include font-size(24px, 30px);
        }
    }
}
.item--third {
    @include respond-to(tablet) {
        width: 50%;
    }
    .grid__item__title {
        @include respond-to(tablet) {
            @include font-size(21px, 26px);
        }
    }
}
.item--fourth {
    @include respond-to(tablet) {
        width: 25%;
    }
}
.item--related {
    @include respond-to(tablet) {
        width: 33.333%;
    }
}
.grid__item__media {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    margin-bottom: 10px;
    img {
        backface-visibility: hidden;
        width: 100%;
        .no-touch & {
            transition: all 500ms;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}
.grid__item__meta {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-bottom: 5px;
    p {
        @include font-size(14px, 20px);
        @extend .book;
        color: $gray;
        display: inline-flex;
        margin-right: 5px;
        margin-bottom: 0;
    }
    a {
        color: $gray;
        display: inline-flex;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: white;
            transition: all 300ms;
        }
        .no-touch & {
            transition: all 300ms;
            &:hover {
                color: $darkgray;
                &::after {
                    background: $main;
                }
                svg {
                    fill: $main;
                }
            }
        }
    }
    .grid__icon {
        display: inline-flex;
    }
    svg {
        max-height: 16px;
        max-width: 16px;
        fill: $gray;
        display: inline-block;
        transition: all 300ms;
    }
    span {
        margin-right: 5px;
    }
}
.grid__item__title {
    @include font-size(18px, 22px);
    color: $secundario;
    .no-touch & {
        transition: all 300ms;
        &:hover {
            color: $main;
        }
    }
}